extends ./shared/layout

block append styleSheets

block main-content

    section.hero.content-wrapper

        form(action="", method="get", id="search-container")
            label(for="search")
            input(type="text", name="searchInput", id="search", placeholder="Search Your Word Here")




