extends ./shared/layout

block append styleSheets

block main-content

    section.details-container.content-wrapper
        
        .defination-container
            h1 Defination of 
                span.highlight #{word}

            h3 #{defination}

        .sa-wrapper

                h3 Synonyms
                .syn-container
                    each synonym in synonyms
                        p #{synonym},
            
        .sa-wrapper

                h3 Antonyms
                .ant-container
                    each antonym in antonyms
                        p #{antonym},
        
        a(href="/?searchInput=" + word) Back to list